body {
  background-color: #EAF6F6;
}

h1 {
  color: #0f4c75;
}

h3 {
  color: #3282b8;
}

hr {
  border-color: grey;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 8%;
}
